@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Poppins", sans-serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: #485461;
  background-image: linear-gradient(135deg, #485461 0%, #28313b 74%);
  overflow-x: hidden;
  transform-style: preserve-3d;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 3rem;
}

.menu {
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 4rem;
}

.logo span {
  font-weight: 300;
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #eee;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #eee;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

header {
  min-height: 100vh;
  width: 100%;
  background: url("bg.jpg") no-repeat top center / cover;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(43, 51, 59, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  max-width: 35rem;
  text-align: center;
  color: #fff;
  padding: 0 2rem;
}

.title {
  font-size: 2.7rem;

}

.btn {
  margin-top: 1rem;
  padding: 0.6rem 1.8rem;
  background-color: #1179e7;
  border: none;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.container.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.container.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.container.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: #eee;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.links a:hover {
  color: #fff;
}

.container.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }

  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;
}

.shadow.one {
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}

.container.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}

.container.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
}

.container.active .main:hover+.shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.container.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}


.container-3 {
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}

.container-3 .cards {
  position: relative;
  height: 250px;
  background: #fff;
  display: flex;
  width: 45%;
  margin: 30px 0;
}

.container-3 .cards .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #333;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  width: 100%;
}

.container-3 .cards:hover .imgBx {
  width: 150px;
  height: 150px;
  left: -75px;
  top: calc(50% - 75px);
  transition: 0.5s ease-in-out;
  background: #333;
  border-radius: 5px;
}

.container-3 .cards .imgBx:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-style: 6em;
  color: rgba(255, 255, 255, 0.05);
  font-weight: 700;
}

.container-3 .cards .imgBx img {
  max-width: 100px;
  transition: 0.5s ease-in-out;
}

.container-3 .cards:hover .imgBx img {
  max-width: 75px;
}

.container-3 .cards .content {
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-3 .cards .content h3 {
  margin-bottom: 5px;
  font-size: 24px;
}

.container-3 .card .content a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background: #333;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
}

@media (max-width: 992px) {
  .container-3 {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .container-3 .cards {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 760px) {
  .container-3 .cards {
    max-width: 300px;
    flex-direction: column;
  }

  .container-3 .cards .imgBx,
  .container-3 .cards:hover .imgBx {
    width: 100%;
    height: 200px;
    left: 0;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
  }

  .container-3 .cards .imgBx img,
  .container .card:hover .imgBx img {
    max-width: 100px;
  }

  .container-3 .cards .content {
    position: relative;
    width: 100%;
  }
}

.course-title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 34px;
  color: #000;
  margin: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {
  height: 100%;
  width: 100%;
  background: url('assets/img/bg.png');
}

ul {
  list-style: none;
}

.image-gallery {
  max-width: 320px;
  margin: 10px auto;
}

.image-gallery img {
  width: 100%;
  height: auto;
  display: block;
  border: 4px solid #ededed;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

ul.thumbnails {
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.thumbnails li {
  margin: 0 10px;
}

ul.thumbnails li a img {
  border: 4px solid #ededed;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
  max-width: 120px;
}

.social-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.social-container a {
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;

}

.social-container a:hover {
  text-decoration: none;
}

.social-container a:hover i {
  font-size: 20px;
}

.social-container a i {
  color: #3e3e3e;
  transition: all 0.5s;
}

.contact-me {
  bottom: 20px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.contact-me p {
  font-size: 18px;
  color: #3e3e3e;
  text-align: center;
}

.margin {
  margin-top: 15px;
}




div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}


.container-5 {
  height: 300px;
  width: 300px;
  position: relative;
}

.profile {
  background-image: url(https://static.vecteezy.com/system/resources/previews/002/514/376/original/cute-cat-in-the-box-cartoon-funny-cat-play-with-box-cat-cartoon-illustration-vector.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  border-radius: 50%;
  transition: transform 0.4s ease-in-out;
}

.profile::before {
  content: "Contact Me";
  font-family: poppins;
  font-weight: bold;
  color: #fff;
  padding: 5px 8px;
  position: absolute;
  bottom: -4%;
  right: 50%;
  transform: translateX(50%);
  border-radius: 9999px;
  background-color: #008da0;
}

.social {
  height: 100%;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-items: center;
  gap: 150px;
  transform: scale(0.5);
  transform-origin: center;
  transform-box: fill-box;
}

.social a {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  place-items: center;
  display: grid;
  fill: #fff;
  transition: all 0.1s ease-in-out;
  position: relative;
}

.social a:hover,
.social a:focus {
  background-color: #aab8c2;
}

.social a:hover>svg,
.social a:focus>svg {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.social .twitter {
  background-color: #1da1f2;
}

.social .facebook {
  background-color: #4267b2;
}

.social .linkdin {
  background-color: #0072b1;
  clip-path: circle(50% at 50% 50%);
}

.social .instagram {
  background-color: #e1306c;
}

.container-5:hover .social {
  transform: scale(1);
  animation: rotate 20s linear infinite;
}

.container-5:hover .social:hover {
  animation-play-state: paused;
}

.container-5:hover .profile {
  transform: translate(50%, -50%) scale(0.8);
}

@keyframes rotate {
  100% {
    transform: scale(1) rotate(360deg);
  }
}


.neu-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #a5a5a5;
  width: 200px;
  height: 50px;
  font-family: "Raleway";
  font-size: large;
  border-radius: 20px;
  border: none;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25), -8px -8px 12px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.neu-btn:hover {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25) inset, -8px -8px 12px rgba(255, 255, 255, 0.3) inset;
}